- instructions = data
%td.vtop.pt3{:colspan => "2"}
  - instructions.each_slice(2) do |slice|
    - slice.each do |instruction|
      = render partial: "spec_sheet/instruction", locals: { instruction: instruction }
      - if slice.size < 2
        .instruction
    .clear
