- instructions = data
%td.vtop.pt3{:colspan => "2"}
  %table.instructions
    %tbody
      %tr.asd.vtop
        - instructions.each_slice(2) do |slice|
          %td
            - slice.each do |instruction|
              = render partial: "spec_sheet/instruction", locals: { instruction: instruction }
