<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8" />
  <title><%= @project.name %></title>
</head>
<body>
  <div class="page">
    <div class="page-insides">
      <table class="main">
        <%= render partial: 'pdfkit/header', locals: { :@title => 'Materials', :@project => @project } %>
        <tr class="body">
          <td class="image">
            <div class="img" style="background-image:url('<%= @project.images.first.file.url(:large) %>');"></div>
            <!--<img src="<%= @project.images.first.file.url(:large) %>" />-->
          </td>
          <td class="content">
            <table>
              <tr>
                <td>
                  thing
                </td>
                <td>
                  val
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
    <div class="watermark">weavenote</div>
  </div>
  <div class="page bg2">
    <header>
      head
    </header>
    <div class="body">
      <div>body</div>
    </div>
  </div>
</body>
</html>