<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8" />
  <title><%= @project.name %></title>
</head>
<body>
  <%= render partial: 'pdfkit/header', locals: { :@title => 'Materials', :@project => @project } %>
  <div class="pt2">
    <table>
      <colgroup>
        <col width="50%">
        <col width="50%">
      </colgroup>
      <tr>
        <td><img id="main-img" src="<%= @project.images.first.file.url(:large) %>" /></td>
        <td>material list</td>
      </tr>
    </table>
  </div>
  <div class="break"></div>
  page break
</body>
</html>