- if @is_own_subscription
  = render 'payola/subscriptions/cancel', subscription: @subscription, at_period_end: true, button_class: 'btn', button_text: "Disable Auto Renew"
  .mt1
    %i.h5= "Note: you'll still be able to use Weavenote until #{@end_date} if you cancel."