.box.p3
  .center.poiple
    #logo
    .h2.mt2 Billing
  = render partial: 'current_subscription'
  - if @is_active
    - if @will_cancel
      = render partial: 'status_ending'
    - else
      = render partial: 'status_ongoing'
  - else
    %a.btn.btn-cta{href:new_subscription_path} New subscription