.box.p3
  .center.poiple
    #logo
    .h2.mt2 Billing
  = render partial: 'current_subscription'
  - if @is_active
    - if @will_cancel
      = render partial: 'status_ending'
    - else
      = render partial: 'status_ongoing'
  - else
    %a.btn.btn-cta{href:new_subscription_path} New subscription
.mt2.center.h5
  %a{href:ENV['WEAVENOTE__SITE_URL']} 
    %i.fa.fa-chevron-left.mr1
    Back to main site