<% components = data %>
<td class="image pt3">
  <%= render partial: "spec_sheet/image", locals: { src: project.image_url, annotations: project.comment_annotations } %>
</td>
<td class="content">
  <table class="rows">
    <colgroup>
      <col width="100%">
    </colgroup>
    <% components.each do |component| %>
      <%= render partial: "spec_sheet/component", locals: { component: component } %>
    <% end %>
  </table>
</td>