<div class="pb2 bb2">
  <table>
    <colgroup>
      <col width="40%">
      <col width="60%">
    </colgroup>
    <tr>
      <td>
        <div class="app-title"><%= project.name %></div>
        <h1 class="page-title"><%= title %></h1>
      </td>
      <td>
      </td>
    </tr>
  </table>
</div>