<td colspan="2" class="vtop">
  <table class="data y-fill">
    <tr>
      <% data.each do |image| %>
        <td class="image pt3">
          <%= render partial: "spec_sheet/image", locals: { src: image.file.url(:medium) } %>
        </td>
      <% end %>
    </tr>
  </table>
</td>