- img_count = instruction.images.length
- img_count = 1 unless img_count > 0
- img_width = "#{100 / img_count}%"
.instruction
  %h2= instruction.title
  - if instruction.images.any?
    .pt2
      %table.instruction-images
        %colgroup
          - img_count.times do |i|
            %col{:width => img_width}/
        %tr
          - instruction.images.each do |image|
            %td
              .img.img-left{:style => "background-image: url('#{image.file.url(:small)}');"}
  .instruction-text.pt2
    = instruction.description.html_safe
