<tr>
  <% slice.each do |instruction| %>
    <td class="vtop pb3">
      <h2><%= instruction.title %></h2>
      <div class="pt2 pb2">
        <%= instruction.description %>
      </div>
    </td>
  <% end %>
  <% if slice.size < 2 %>
    <td></td>
  <% end %>
</tr>