<td class="image pt3">
  <%= render partial: "spec_sheet/image", locals: { src: project.image_url } %>
</td>
<td class="content">
  <p>It looks like this is a new project!</p>
  Add measurements, instructions, and materials to see more here.
</td>