<td class="image pt3">
  <div class="img" style="background-image:url('<%= project.image_url %>');"></div>
</td>
<td class="content">
  <p>It looks like this is a new project!</p>
  Add measurements, instructions, and materials to see more here.
</td>