<div class="page">
  <table class="main">
    <tr>
      <td colspan="2" class="header">
        <%= render partial: 'spec_sheet/header', locals: { title: title, project: project } %>
      </td>
    </tr>
    <tr class="body">
      <%= render partial: "spec_sheet/#{view}", locals: { data: data, project: project } %>
    </tr>
  </table>
  <div class="page-number">
    <%= "Page #{pagenumber}" %>
  </div>
</div>
