<script>
  setTimeout(function () {
    // Set width & height of SVGs used for annotations,
    // otherwise the exported PDF won't display them correctly.
    var containers = document.getElementsByClassName('img-container');
    for (var i = 0, len = containers.length; i < len; i++) {
      var container = containers[i];
      var svg = container.querySelectorAll('svg');
      if (svg.length > 0) {
        svg = svg[0]
        svg.setAttribute('height', container.scrollHeight);
        svg.setAttribute('width', container.scrollWidth);
      }
      document.body.style.background = 'fuchsia';
    }
  }, 1000);
</script>