!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    :css
      .btn {
        display: inline-block;
        padding: 12px 16px;
      }
  %body
    = yield
